// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  padding-top: 60px;
  background-image: url("http://i.imgur.com/pUpUbC1.jpg")
}

.login {
  margin: auto, 25em;
  box-sizing: border-box;
  background-color: #f2f2f2;
  opacity: 0.9;
  font-color: black;
  flex-grow: 2;
  font-family: 'Lobster';

}
